<div #carouselContainer class="carousel-container">
  <div #scene class="scene">
    <div #carousel class="carousel">
      <div class="carousel__cell" *ngFor="let item of carouselItems; let i = index">
        <img
          #img
          [src]="item.image"
          alt="Carousel item image"
          (click)="onImageClick($event.target, item.url)">
      <div #title>
        <div class="carousel__cell-title">{{ item.title }}</div>
        <div class="carousel__cell-viewcount">{{ item.viewCount }} views</div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-buttons">
  <div class="arrow arrow-left" (click)="onPrevButtonClick()">
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
  </div>
  <div class="arrow arrow-right" (click)="onNextButtonClick()">
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
  </div>
</div>

