.work-list {
  display: flex;
  font-family: 'EB Garamond', serif;
  justify-content: center;
  flex: 1 1 100%;
  width: auto;
  height: auto;
  color: #fff;
  padding: 20px;
}

.work-content {
  max-width: 800px;
  min-width: 400px;
  text-align: center;
  background:rgba(255,255,255,.02);
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 20px;
  overflow: hidden;
}

.work-content h2 {
  color: transparent;
  padding: 10px;
  background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.work-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.work-item {
  display: flex;
  max-height: 300px;
  align-items: center;
  text-align: left;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.work-item-image {
  margin-right: 20px;
}

img {
  width: 150px;
  height: 250px;
}

.work-item-details {
  display: flex;
  font-weight: 400;
  flex-direction: column;
  flex: 1;
  bottom: 10px !important;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.work-item-details h3 {
  margin-top: 10px;
}

.work-item-details p {
  color: lightgray;
  font-size: 14px;
  font-weight: 400;
}

.work-item-details a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
  bottom: 10px !important;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: lightgray;
  width: 40px;
  border-radius: 10px;
  display: block;
  font-family: 'EB Garamond', serif;
}

.anchor:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 840px) {
  .work-items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {

  .work-content {
    min-width: none;
  }

  .work-item {
    width: 400px;
    justify-content: center;
    text-align: center;
  }

  .work-item-details {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .work-item-details h3 {
    font-size: 12px;
  }

  .work-item-details p {
    font-size: 12px;
  }

  .work-item-details a {
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: 50px;
  }
}

@media (max-width: 400px) {

  img {
    display: none;
  }

  .work-item-details {
    min-width: none;
    min-height: none;
    padding: 0;
    margin: 0;
  }

  .work-item-image {
    margin: 0;
  }

  img {
    width: 100px;
    height: 150px;
  }

  .work-item-details h3 {
    padding: 0;
    margin: 0;
  }

  .work-item-details p {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }

  .work-item-details a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 145px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20px;
    height: 10px;
  }
}
