<div class="work-list">
  <div class="work-content">
    <h2>Videos</h2>
    <div class="work-items">
      <div *ngFor="let item of workItems" class="work-item">
        <div class="work-item-image">
          <img [src]="item.image" alt="Work Item Image">
        </div>
        <div class="work-item-details">
          <!-- <iframe width="473" height="841" src="{{ item.embed }}" title="{{ item.title }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
          <h3>{{ item.title }}</h3>
          <p>{{ item.viewCount }} views</p>
          <p>{{ item.likes }} likes</p>
          <p>Published {{ item.date }}</p>
          <a class="anchor" [href]="item.url" target="_blank">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
