.work-list {
  display: flex;
  font-family: 'EB Garamond', serif;
  justify-content: center;
  flex: 1 1 100%;
  width: auto;
  height: auto;
  color: #fff;
  padding: 20px;
}

.work-content {
  max-width: 800px;
  min-width: 400px;
  text-align: center;
  background:rgba(255,255,255,.02);
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 20px;
}

.work-content h2 {
  color: transparent;
  padding: 10px;
  background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.work-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.work-item {
  display: flex;
  max-height: 300px;
  align-items: center;
  text-align: left;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.work-item-image {
  margin-right: 20px;
}

img {
  width: 150px;
  height: 250px;
}

.work-item-details {
  display: flex;
  font-weight: 400;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  margin-right: 20px;
}

.work-item-details h3 {
  margin-top: 10px;
}

.work-item-details p {
  color: lightgray;
  font-size: 14px;
  font-weight: 400;
}

.work-item-details a {
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  padding-top: 5px;
  background: linear-gradient(180deg,#fff 0%,rgba(255,255,255,.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 840px) {
  .work-items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  img {
    height: 100px;
    width: auto;
  }

  .work-content {
    min-width: none;
  }

  .work-item {
    width: 400px;
    justify-content: center;
    flex-direction: column;
  }

  .work-item-details {
    flex-wrap: wrap;
  }

  .work-item-details h3 {
    font-size: 14px;
  }

  .work-item-details p {
    font-size: 12px;
  }

  .work-item-details a {
    font-size: 14px;
    padding: 0;
    padding-bottom: 10px;
  }
}
