.app-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  background-color: #030014;
  font-family: 'EB Garamond', serif;
}
