.app-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  background-color: #030014;
  font-family: 'EB Garamond', serif;
  /* background: rgb(156, 156, 189);
  background: radial-gradient(
    circle,
    rgba(156, 156, 189, 1) 0%,
    rgba(61, 60, 87, 1) 49%,
    rgba(0, 0, 0, 1) 100%
  ); */
}
