<div class="about-container">
  <div class="about-text">
    <h2>About Me</h2>
    <p>Born in Colorado but raised abroad in North Macedonia, I spent most of my childhood bouncing between the Rockies and the Balkans. With the distances my youth took me across, I developed a deep appreciation for the world as a whole, and I aim to capture, chronicle, and encapsulate my experience through writing. This portfolio is an example of some of my most recent written work.
      There is nothing that I find uninteresting or unworthy of writing about.</p>
  </div>
  <div class="about-image">
    <img src="https://media.licdn.com/dms/image/D4E03AQFw6lWuf-V0aQ/profile-displayphoto-shrink_800_800/0/1684696284771?e=2147483647&v=beta&t=4YZPf6Wgv1taL5TFUIzxpjG9tszjedUJwZXJVNZL1fQ" alt="Headshot">
  </div>
</div>

